# Downloaded and generated resources
nltk_data
pip-packages
map_sra_to_ontology/obo/*.obo
map_sra_to_ontology/LEX/*
!map_sra_to_ontology/LEX/README
map_sra_to_ontology/fuzzy_matching_index

# Python things
*.pyc